
HUBLA_WEBHOOK_TOKEN=

ADMIN_SECRET=
VITE_API_URL= ##Backend
FRONTEND_URL= ##Frontend
PORT=

# Credenciais do Banco de Dados (Necessárias)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
# URL da API Externa (Opcional, já que tem um padrão)
AUTH_PROXY_TARGET=

# URL de Checkout (Necessária para o Paywall)
HUBLA_CHECKOUT_URL=
# ... (suas outras chaves)
SENTRY_DSN=